@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Bold.woff2") format("woff2"),
    url("./fonts/HelveticaNowDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLT55Roman";
  src: url("./fonts/HelveticaNeueLT-55Rm.woff2") format("woff2"),
    url("./fonts/HelveticaNeueLT-55Rm.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLT55Roman";
  src: url("./fonts/HelveticaNeueLT-75Bd.woff2") format("woff2"),
    url("./fonts/HelveticaNeueLT-75Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Light.woff2") format("woff2"),
    url("./fonts/HelveticaNowDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("./fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"),
    url("./fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiposka";
  src: url("./fonts/Tiposka-Regular.woff2") format("woff2"),
    url("./fonts/Tiposka-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.automargin {
  @apply px-6 mx-auto max-w-7xl;
}

.slideinleft {
  animation: slideinleft 1.5s ease-in-out forwards;
}

@keyframes slideinleft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slideinright {
  animation: slideinright 1.5s ease-in-out forwards;
}

@keyframes slideinright {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.opafade {
  animation: opafade 1.5s ease-in-out forwards;
}

@keyframes opafade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
