@font-face {
    font-family: 'Tiposka';
    src: url('Tiposka-Regular.woff2') format('woff2'),
        url('Tiposka-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

